<div class="headerContainer">
    <div class="headerLogo">
        <a href="//www.bharatmatrimony.com/" title="Bharat Matrimonials" target="_blank">
            <img src="//imgs.bharatmatrimony.com/bmimgs/bharatmatrimony-logo.png" class="bharat_logo" border="0"
                alt=""></a>
    </div>
    <div class="headerHelp">
        <strong>24x7 HELP</strong>: INDIA +91-8144998877
    </div>
</div>
<div class="listIcon displayToggle">
    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>   
</div>



