<div class="mTop10P panelWidthLeft">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active txtBold" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Contact Police</a>
        </li>
    </ul>
    <div class="tab-content contactMainDiv" id="myTabContent">
        <div class="tab-pane fade show active contactDescription" id="home" role="tabpanel" aria-labelledby="home-tab">
            In case you want to complain about a fraudster, please reach the following in your city.
        </div>
        <table class="table addRowGap">
            <tbody>
                <tr class="table-active">
                    <td><a href="http://www.cyberpolicebangalore.nic.in/" target="_blank">Bangalore</a></td>
                </tr>
                <tr class="table-active">
                    <td><a href="http://www.cyberpolicebangalore.nic.in/" target="_blank">Hyderabad</a></td>
                </tr>
                <tr class="table-active">
                    <td><a href="http://www.cyberpolicebangalore.nic.in/" target="_blank">Chennai</a></td>
                </tr>
                <tr class="table-active">
                    <td><a href="http://www.cyberpolicebangalore.nic.in/" target="_blank">Delhi</a></td>
                </tr>
                <tr class="table-active">
                    <td><a href="http://www.cyberpolicebangalore.nic.in/" target="_blank">Vizag</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panelWidthRight">
    <div class="paddb8 txt20 boldtxt" style="border-bottom:0px;">Contact Us</div>
    <div class="dot1"><!--  --></div>
    <div class="boldtxt paddt10 txt12">Have a query about how to use our safety features? Want to know how a Trust Badge earns you better response?</div>
    <div class="txt-justify paddt10 txt12" style="text-align:justify; line-height:17px;">Reach us and we shall assist you. </div>
    <div class="pTop10" style="line-height:18px;">
        <span class="fleft txt12" style="width:37px;">Phone</span>
        <span class="fleft paddr5 paddl5">:</span> 
        <a href="tel:08144998877" class="fleft txt12" style="text-decoration:none;">+91-8144998877</a><br clear="all"></div>
</div>