<div>

    <div>
        <img src="https://imgs.bharatmatrimony.com/bmimgs/safematrimony-homepage-bnr.jpg" alt="homepageBanr"
            style="width: 100%;">
    </div>
    <div class="panelWidthLeft">

        <div class="hedaerText">
            Why Safe Matrimony?
        </div>
        <div class="descriptionText">
            Today, millions use online matrimony services to search for a life partner and millions
            have successfully found their life partner online. There have been a few instances
            reported in the media about fraudsters cheating some people on online matrimony sites.
            While we take every possible step to make your search on our site safe,
            we strongly recommend you to be aware and follow a few guidelines during this journey.
            Safe Matrimony is our initiative to guide you to a safe search.
        </div>

        <div>
            <div id="accordion">

                <div class="card mTop10">
                    <div class="card-header" id="headingOne">
                        <div class="customCard">Your Safety is our priority</div>
                        <button class="btn collapsed txtBold" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            +
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="txtBold font14">Choose who views your photo</div>
                            <div class="font13">
                                You can control who views your photos by showing them only to select members or even
                                hide
                                them completely
                            </div>
                            <div class="txtBold font14">Choose who sees your number</div>
                            <div class="font13">
                                You can show your number only to members who contacted you or responded to your
                                interest. Or
                                reveal it only to Premium Members from your community.
                            </div>
                            <div class="txtBold font14">Safety for women</div>
                            <div class="font13">
                                Women, can turn on the "Secure Connect" feature to get calls from members without
                                revealing
                                their own number.
                            </div>
                            <div class="txtBold font14">Protect your horoscope</div>
                            <div class="font13">
                                You can choose to show your horoscope only to members who contacted you or responded to
                                your
                                interest. In fact, you can even hide your horoscope from being viewed.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mTop10">
                    <div class="card-header" id="headingTwo">
                        <div class="customCard">How to be Safe?</div>
                        <button class="btn collapsed txtBold" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            +
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="txtBold font14">Choose who views your photo</div>
                            <div class="font13">
                                You can control who views your photos by showing them only to select members or even
                                hide
                                them completely
                            </div>
                            <div class="txtBold font14">Choose who sees your number</div>
                            <div class="font13">
                                You can show your number only to members who contacted you or responded to your
                                interest. Or
                                reveal it only to Premium Members from your community.
                            </div>
                            <div class="txtBold font14">Safety for women</div>
                            <div class="font13">
                                Women, can turn on the "Secure Connect" feature to get calls from members without
                                revealing
                                their own number.
                            </div>
                            <div class="txtBold font14">Protect your horoscope</div>
                            <div class="font13">
                                You can choose to show your horoscope only to members who contacted you or responded to
                                your
                                interest. In fact, you can even hide your horoscope from being viewed.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mTop10">
                    <div class="card-header" id="headingThree">
                        <div class="customCard">Safe matrimony videos</div>
                        <button class="btn collapsed txtBold" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            +
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="txtBold font14">Choose who views your photo</div>
                            <div class="font13">
                                You can control who views your photos by showing them only to select members or even
                                hide
                                them completely
                            </div>
                            <div class="txtBold font14">Choose who sees your number</div>
                            <div class="font13">
                                You can show your number only to members who contacted you or responded to your
                                interest. Or
                                reveal it only to Premium Members from your community.
                            </div>
                            <div class="txtBold font14">Safety for women</div>
                            <div class="font13">
                                Women, can turn on the "Secure Connect" feature to get calls from members without
                                revealing
                                their own number.
                            </div>
                            <div class="txtBold font14">Protect your horoscope</div>
                            <div class="font13">
                                You can choose to show your horoscope only to members who contacted you or responded to
                                your
                                interest. In fact, you can even hide your horoscope from being viewed.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panelWidthRight">

        <div class="paddb8 txt20 boldtxt" style="border-bottom:0px;">Contact Us</div>
        <div class="dot1">
            <!--  -->
        </div>
        <div class="boldtxt paddt10 txt12">Have a query about how to use our safety features? Want to know how a
            Trust Badge earns you better response?</div>
        <div class="txt-justify paddt10 txt12" style="text-align:justify; line-height:17px;">Reach us and we shall
            assist you. </div>
        <div class="pTop10" style="line-height:18px;">
            <span class="fleft txt12" style="width:37px;">Phone</span>
            <span class="fleft paddr5 paddl5">:</span>
            <a href="tel:08144998877" class="fleft txt12" style="text-decoration:none;">+91-8144998877</a><br
                clear="all"></div>

    </div>
</div>